<!--
  Generated template for the LogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Log</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list *ngFor="let answer of answers">
  <ion-item style="font-size: 2rem;">
    <ion-label>{{answer.tarikh | date: "dd/MM/yyyy , HH:mm a"}}</ion-label>
    <button ion-button small item-end (click)="show(answer)"> <ion-icon name="md-eye"></ion-icon></button>
    <button ion-button small item-end (click)="delete(answer.tarikh)"><ion-icon name="trash"></ion-icon>
    </button>
  </ion-item> -->
      
  
    
    <!-- <ion-item>{{answer.jawapanA}}</ion-item>
    <ion-item>{{answer.jawapanB}}</ion-item>
    <ion-item>{{answer.jawapanC}}</ion-item>
    <ion-item>{{answer.jawapanD}}</ion-item>
    <ion-item>{{answer.jawapanE}}</ion-item>
    <ion-item>{{answer.jawapanF}}</ion-item> -->
  <!-- </ion-list> -->

  <ion-card *ngFor="let answer of answers">
    <ion-card-content style="font-size: 2rem;">
      <ion-label>{{answer.tarikh | date: "dd/MM/yyyy , HH:mm a"}}</ion-label>
      <button ion-button small item-end (click)="show(answer)"> <ion-icon name="md-eye"></ion-icon></button>
      <button ion-button small item-end (click)="delete(answer.tarikh)"><ion-icon name="trash"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
