@font-face {
    font-family: 'Source Code Pro';
    src: url('../assets/fonts/SourceCodePro-Regular.ttf');
  }

@font-face{
    font-family: 'RobotoSlab';
    src: url('../assets/fonts/RobotoSlab.ttf');
}
  