// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../theme/fonts.scss';

.next{
    margin-top: 10px;
    float: right;
    color: black;
}

.description{
    padding-left: 10px;
    font-size: 17px;
    padding-right: 10px;
}

.halamanUtama{
    margin-top: 40px;
    float: right;
    color: black;   
}

ion-textarea{
    margin-top: 10px;
    border: 1px solid black;
}


.info{
    position: absolute;
    right: 5px;
    top: -3px;
    font-size: 3rem;
}

ion-content {
    background-image: url('../../assets/imgs/scott-webb-199470-unsplash.jpg');
    box-shadow: inset 0 0 0 1000px rgba(245, 242, 242, 0.863);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // --background: url('../../assets/imgs/scott-webb-199470-unsplash.jpg') 0 0/100% 100% no-repeat;
}

.item-md {
    // opacity: 0;
    // background-color: #f4f4f4;
    background-color: rgba(255,255,255,0) !important;  
}

.button-md{
    background-color: rgba(255,255,255,0) ;
    color: black;
}

ion-card.card.card-md{
    background-color: rgba(255,255,255,0.6) ;
}